/*  For use when creating multiple characters 
    #charlieBucket {
        position: absolute; bottom:5%;
        background-color: #F26708; 
        display: block;
        height: 75px; 
        width: 75px;
        border-radius: 50%;
        justify-self: center;
} */